<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259781299986-nhilj3bctahtqc9hcb9p2md9j9do6ks8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259781299986-nhilj3bctahtqc9hcb9p2md9j9do6ks8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmC8215Z4vXZFRULeMaAxPzjJjaax4EEw</string>
	<key>GCM_SENDER_ID</key>
	<string>259781299986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upekshaD.COBSCComp192p-053-Assignment-03-Foody</string>
	<key>PROJECT_ID</key>
	<string>foody-57d95</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-57d95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259781299986:ios:ca7459e56d2a3d0195adcb</string>
</dict>
</plist>